{% set current_path = app.request.get('_route') %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('media/favicon.ico') }}">

    <title>{% block title %}Proftpd Admin{% endblock %}</title>

    {% block head_css %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('media/bootstrap/css/bootstrap.min.css') }}" />
    {% endblock %}

    {% block stylesheets %}
    <link href="{{ asset('media/signin.css') }}" rel="stylesheet">
    {% endblock %}
  </head>

  <body class="text-center">
    {% block body %}{% endblock %}
    {% block javascripts %}
    {% endblock %}
    {% block foot_js %}
    <script src="{{ asset('media/jquery/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ asset('media/popper/popper.min.js') }}"></script>
    <script src="{{ asset('media/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
