{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Ftpgroups list{% endtrans %}</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Groupname</th>
                <th scope="col">Members</th>
                <th scope="col" colspan="2">Actions</th>
                <th scope="col" class="text-right"><a href="{{ path('ftpgroup_new') }}" class="text-white">Create</a></th>
            </tr>
        </thead>
        <tbody>
        {% for ftpgroup in ftpgroups %}
            <tr>
                <td>{{ ftpgroup.groupname }}</td>
                <td>{{ ftpgroup.members|length }}</td>
                <td> <a href="{{ path('ftpuser_index', { 'id_group': ftpgroup.id }) }}">users</a> </td>
                <td> <a href="{{ path('ftpgroup_edit', { 'id': ftpgroup.id }) }}">edit</a> </td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    {% if ftpgroup.members|length == 0 %}
                {{ render(controller( 'ProftpBundle:Ftpgroup:delete_form', { 'id': ftpgroup.id } )) }}
                    {% else %} 
                <a href="#" data-toggle="tooltip" title="" data-original-title="{% trans %}Remove all members{% endtrans %}">----</a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
