{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Ftpgroups list{% endtrans %}</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-sm-5">Groupname</th>
                <th scope="col" class="col-sm-5">Members</th>
                <th scope="col" class="col-sm-1 text-right" colspan="3"><a href="{{ path('ftpgroup_new') }}" class="text-white"><img src="{{ asset('/media/famfam/add.png') }}" alt="Create" /></a></th>
            </tr>
        </thead>
        <tbody>
        {% for ftpgroup in ftpgroups %}
            <tr>
                <td>{{ ftpgroup.groupname }}</td>
                <td>{{ ftpgroup.members|length }}</td>
                <td><a href="{{ path('ftpuser_index', { 'id_group': ftpgroup.id }) }}"><img src="{{ asset('/media/famfam/group.png') }}" alt="Users" /></a></td>
                <td><a href="{{ path('ftpgroup_edit', { 'id': ftpgroup.id }) }}"><img src="{{ asset('/media/famfam/pencil.png') }}" alt="Edit" /></a></td>
                <td>
                {% if is_granted('ROLE_ADMIN') and ftpgroup.members|length == 0 %}
                    {{ render(controller( 'App\\Controller\\FtpgroupController::delete_form', { 'id': ftpgroup.id } )) }}
                {% else %} 
                <img src="{{ asset('/media/famfam/lock.png') }}" data-toggle="tooltip" title="" data-original-title="{% trans %}Remove all members{% endtrans %}" />
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
