{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Ftpusers list{% endtrans %}</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-sm-10">Name</th>
                <th scope="col" class="col-sm-10">Username</th>
                <th scope="col" class="col-sm-1 text-right" colspan="2"><a href="{{ path('ftpuser_new', { 'id_group': ftpgroup.id }) }}"><img src="{{ asset('/media/famfam/add.png') }}" alt="Create" /></a></th>
            </tr>
        </thead>
        <tbody>
        {% for ftpuser in ftpusers %}
            <tr>
                <td>{{ ftpuser.username }}</td>
                <td class="text-right"><a href="{{ path('ftpuser_edit', { 'id_group': ftpgroup.id, 'id': ftpuser.id }) }}"><img src="{{ asset('/media/famfam/pencil.png') }}" alt="Edit" /></a> </td>
                <td class="text-right"><a href="{{ path('ftpuser_password', { 'id_group': ftpgroup.id, 'id': ftpuser.id }) }}"><img src="{{ asset('/media/famfam/key.png') }}" alt="Password" /></a> </td>
                <td class="text-right">
                {% if is_granted('ROLE_ADMIN') %}
                {{ render(controller( 'App\\Controller\\FtpuserController:delete_form', { 'id_group': ftpgroup.id, 'id': ftpuser.id } )) }}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
