{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ftpuser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ftpuser.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ ftpuser.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ ftpuser.password }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ ftpuser.uid }}</td>
            </tr>
            <tr>
                <th>Home</th>
                <td>{{ ftpuser.home }}</td>
            </tr>
            <tr>
                <th>Shell</th>
                <td>{{ ftpuser.shell }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ftpuser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ftpuser_edit', { 'id': ftpuser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
