{% extends 'base.html.twig' %}

{% block title %}FtpGroup index{% endblock %}

{% block body %}
    <h1>List of groups</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-sm-2">Name</th>
                <th scope="col" class="col-sm-1"># Members</th>
                <th scope="col" class="col-sm-1">status</th>
                <th scope="col" class="col-sm-1 text-right" colspan="3"><a href="{{ path('ftp_group_new') }}" class="text-white"><img src="{{ asset('/media/famfam/add.png') }}" alt="Create" /></a></th>
            </tr>
        </thead>
        <tbody>

        {% for ftp_group in ftp_groups %}
            <tr>
                <td>{{ ftp_group.groupname }}</td>
                <td>{{ ftp_group.members|length }}</td>
                <td>{% if ftp_group.active %} 
					<img src="{{ asset('/media/famfam/accept.png') }}" alt="enabled" />
				{% else %}
					<img src="{{ asset('/media/famfam/delete.png') }}" alt="disabled" />
				{% endif %}
				</td>
                <td><a href="{{ path('ftp_user_index', { 'id_group': ftp_group.id }) }}"><img src="{{ asset('/media/famfam/group.png') }}" alt="Users" /></a></td>
                <td><a href="{{ path('ftp_group_edit', { 'id': ftp_group.id }) }}"><img src="{{ asset('/media/famfam/pencil.png') }}" alt="Edit" /></a></td>
                <td>
                {% if is_granted('ROLE_ADMIN') and ftp_group.members|length == 0 %}
					{{ include('ftp_group/_delete_form.html.twig') }}
                {% else %} 
                <img src="{{ asset('/media/famfam/lock.png') }}" data-toggle="tooltip" title="" data-original-title="{% trans %}Remove all members{% endtrans %}" />
                {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="4">no group found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
