{% extends 'base.html.twig' %}

{% block title %}FtpUser index{% endblock %}

{% block body %}
    <h1><a href="{{ path('ftp_group_index') }}"><img src="{{ asset('/media/famfam/arrow_left.png') }}" alt="Back" /></a>
    Members for "{{ ftp_group.groupname }}"</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Identity</th>
                <th scope="col">Username</th>
                <th scope="col">Last login</th>
                <th scope="col">count</th>
                <th scope="col">status</th>
                <th scope="col" colspan="2"><a href="{{ path('ftp_user_new', {'id_group': ftp_group.id}) }}" class="text-white"><img src="{{ asset('/media/famfam/add.png') }}" alt="Create" /></a></th>
            </tr>
        </thead>
        <tbody>
        {% for ftp_user in ftp_users %}
            <tr>
                <td>{{ ftp_user.firstname }} {{ ftp_user.lastname }}</td>
                <td>{{ ftp_user.username }}</td>
                <td>{{ ftp_user.lastlogin ? ftp_user.lastlogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ftp_user.logincount }}</td>
                <td>{% if ftp_user.active %} 
					<img src="{{ asset('/media/famfam/accept.png') }}" alt="enabled" />
				{% else %}
					<img src="{{ asset('/media/famfam/delete.png') }}" alt="disabled" />
				{% endif %}
				</td>
                <td class="text-right">
					<a href="{{ path('ftp_history_index', {'id_group': ftp_group.id, 'id_user': ftp_user.id}) }}"><img src="{{ asset('/media/famfam/report.png') }}" alt="History" /></a>
					<a href="{{ path('ftp_user_edit', {'id_group': ftp_group.id, 'id': ftp_user.id}) }}"><img src="{{ asset('/media/famfam/pencil.png') }}" alt="Edit" /></a>
					<a href="{{ path('ftp_user_password', {'id_group': ftp_group.id, 'id': ftp_user.id}) }}"><img src="{{ asset('/media/famfam/key.png') }}" alt="Password" /></a>
				</td>
                <td class="text-right">
                {% if is_granted('ROLE_ADMIN') %}
					{{ include('ftp_user/_delete_form.html.twig') }}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<div class="pagerfanta">
	<!--
	    {* pagerfanta(my_pager, 'twitter_bootstrap4') *}
		-->
	</div>

{% endblock %}
