{% extends 'base.html.twig' %}

{% block title %}FtpHistory index{% endblock %}

{% block body %}
    <h1><a href="{{ path('ftp_user_index', { 'id_group': ftp_group.id }) }}"><img src="{{ asset('/media/famfam/arrow_left.png') }}" alt="Back" /></a>
    Operations by "{{ ftp_user.firstname }} {{ ftp_user.lastname }}"</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Client ip</th>
                <th scope="col">Operation</th>
                <th scope="col">Status<a href="https://en.wikipedia.org/wiki/List_of_FTP_server_return_codes" target="_blank">*</a></th>
            </tr>
        </thead>
        <tbody>
        {% for ftp_history in ftp_histories %}
            <tr>
                <td>{{ ftp_history.date ? ftp_history.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ftp_history.clientIp }}</td>
                <td>{{ ftp_history.operation}}</td>
                <td>{{ ftp_history.status }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<div class="navigation">
	    {{ knp_pagination_render(ftp_histories) }}
	</div>

{% endblock %}
