{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Ftpusers list{% endtrans %}</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-sm-10">Username</th>
                {% image '@ProftpBundle/Resources/public/famfam/add.png' %}
                <th scope="col" class="col-sm-1 text-right" colspan="2"><a href="{{ path('ftpuser_new', { 'id_group': ftpgroup.id }) }}"><img src="{{ asset_url }}" alt="Create" /></a></th>
                {% endimage %}
            </tr>
        </thead>
        <tbody>
        {% for ftpuser in ftpusers %}
            <tr>
                <td>{{ ftpuser.username }}</td>
                {% image '@ProftpBundle/Resources/public/famfam/pencil.png' %}
                <td class="text-right"><a href="{{ path('ftpuser_edit', { 'id_group': ftpgroup.id, 'id': ftpuser.id }) }}"><img src="{{ asset_url }}" alt="Edit" /></a> </td>
                {% endimage %}
                <td class="text-right">
                {% if is_granted('ROLE_ADMIN') %}
                {{ render(controller( 'ProftpBundle:Ftpuser:delete_form', { 'id_group': ftpgroup.id, 'id': ftpuser.id } )) }}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
